.main {
    text-align: left;
    color: #c6c6c7;
    padding: 2%;
    overflow-y: auto;
}

/* Text styles */
.text-base {
  font-size: 1rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-white {
  color: #c6c6c7;
}

.text-purple {
  color: #99a1ff;;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

/* Margin styles */
.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

/* Padding styles */
.px-3-5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.py-2-5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

/* Rounded corners */
.rounded-md {
  border-radius: 10px;
}

/* Background and text colors */
.bg-green {
  background-color: #327e5e;
  color: #fff !important;
}

.bg-green:hover {
    background-color: #479775;
}

.leading-7 {
  line-height: 1.75rem;
}

/* Responsive padding */
.sm\:py-32 {
  padding-top: 8rem; /* Adjust for responsive design */
}

.lg\:px-8 {
  padding-left: 2rem; /* Adjust for responsive design */
  padding-right: 2rem; /* Adjust for responsive design */
}
